/* p1_tab.css */

@media screen and (min-width: 481px) and (max-width: 768px){

#bannerBox{height: 52vw; max-height: 600px; margin-top: 50px;}


 #shopMenu{height: 10vw; max-height: 70px;}
 .menu_box>li>a{font-size: 1rem; padding-top: 19%;}

.pd_box{height: 140vw; min-height: 700px; max-height: 1000px;}
 .bg_text{height: 21vw; max-height: 130px;}

.pd_box h4{font-size: 1.1rem;}
.pd_box>div{height: 49.166666vw; min-height: 200px;}

.arrow_box{box-sizing: border-box; 
  padding-left: 0.6%; padding-right: 0.6%;}
.arrow_box>button{width: 3.5vw;  max-width: 34px; 
  height: 7vw; max-height: 68px;}

.con>ul>li>a>dl>dd{height: 9%; font-size: 0.9rem;}


#eventBox{padding-top: 5vw; padding-bottom: 6vw;}
.event_wrap{width: 100%; height:24.6vw;}
.event_wrap>div{width: 25%;}


 }