/* p1_pcfull.css */

@media screen and (min-width: 1367px) {
  


/* #productBox----------*/

.pd_box>ul>.pd1{background-position: 50% 49%;}

/* #eventBox-------------*/

.event_con{width: 90%; height: 800px; min-width: 676px; max-width: 1000px;
 margin: auto;}
 .news_con2 dl{margin-top: 20px;}
  /* #bannerBox----------*/
}