/* p1_ssd_shop.css */

.wrap{width: 100%; height: auto;}

/* #bannerBox */
#bannerBox{
  width: 100%; height: 600px;}
.banner_img{width: 100%; height: 100%; max-width: 1660px;
  margin: auto;
background-image: url(../../img/shop/shop_b.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}
.text{width: 100%; height: 100%; box-sizing: border-box; padding-top: 17%;}
.text_img{display: block; 
  width: 32%; height: 40%;  max-width: 520px; max-height: 150px; margin: auto;
  background-image: url(../../img/shop/shop_text.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;}

/* #shopmenu */

 #shopMenu{width: 100%; height: 80px;}
 #shopMenu>div{width: 100%; max-width: 1100px; height: 100%;
  margin: auto;}
 .menu_box{width: 100%; height: 100%;}
 .menu_box>li{width: 20%; height: 100%; background-color: rgba(30,30,10,0.2);
  float: left;
  box-sizing: border-box;
  border: 0.01rem solid #fff;
  text-align: center;}
 .menu_box>li>a{ display: block; width: 100%; height: 100%;
  box-sizing: border-box; padding-top: 13%;
  font-size: 1.2rem; font-weight: bold;
  color: #333;}
.menu_box>li:hover {background-color: #fff;}
.menu_box>.select {background-color: #fff;}

/* #shopBox */
.shop_tab{display: none;}
.shop_new{display: block;}
#shopBox{width: 100%; height:auto;}
.pd_box{width: 100%; height: 1200px;}
.bg_text{display: block; margin: auto;
  width: 100%; max-width: 720px; height: 200px;
background-image: url(../../img/shop/textbg.png);
background-size: 80%;
background-repeat: no-repeat;
background-position: center;}

.pd_box>div{width: 100%; height: 410px;}
.pd_box h4{width: 80%; max-width: 1000px; height: 14%; margin: auto;
text-align: center;
font-size: 1.4rem; 
box-sizing: border-box;
padding-top: 2%;
border-bottom: 0.01rem solid #555;}
.pd_box>div>div{width: 100%; height: 86%;
background-color: #fff;}
.center{position: relative;
 width: 100%;
 max-width: 1200px; height: 100%;
 margin: auto;}
.arrow_box{position: absolute; top: 40%;
  left: 0;
  width: 100%; height: 0;}
.arrow_box>button{width: 36px; height: 68px;
background-size: 100%;
background-repeat: no-repeat;}
.prev{float: left;
background-image: url(../../img/shop/prev.png);}
.next{float: right;
background-image: url(../../img/shop/next.png);}



.con{width: 85%;
  max-width: 1140px; height: 100%; margin: auto;
overflow: hidden;}
.con>ul{width: 200%; height: 100%;}
.con>ul>li{width: 14%; min-width: 152px;
  height: 94%; float: left;
margin-right: 2.8%; margin-top: 0.4%}
.con>ul>li:first-child{margin-left: 1%;}
.con>ul>li>a{display: block;
width: 100%; height: 100%;}
.con>ul>li>a>dl{width: 100%; height: 100%;}
.con>ul>li>a>dl:hover{/*outline: 0.1rem solid #333;*/
background-color: #eeeeed;}
.con>ul>li>a>dl:hover dt{transform: translate(0,-10px);
transition: all ease 200ms;}
.con>ul>li>a>dl>dt{width: 100%; height: 80%;
background-size: 70%;
background-repeat: no-repeat;
background-position: center;}
.con>ul>li>a>dl>dd{height: 7%;
box-sizing: border-box;
text-align: center;}
/*.con>ul>li>dl>dd>a{width: 100%; height: 100%;
text-align: center;}*/
.con>ul>li>a>dl>dd:first-child{font-size: 1rem;}
.con>ul>li>a>dl>dd:last-child{font-size: 0.8rem;}

.new_wrap{}
.n1>a>dl>dt{background-image: url(../../img/shop/n11.png);}
.n2>a>dl>dt{background-image: url(../../img/shop/n22.png);}
.n3>a>dl>dt{background-image: url(../../img/shop/n33.png);}
.con>ul>.n3>a>dl>dt{background-size: 60%;}
.n4>a>dl>dt{background-image: url(../../img/shop/n44.png);}
.con>ul>.n4>a>dl>dt{background-size: 75%;}
.n5>a>dl>dt{background-image: url(../../img/shop/n55.png);}
.hot_wrap{margin-top: 50px;}
.h1>a>dl>dt{background-image: url(../../img/shop/h11.png);}
.h2>a>dl>dt{background-image: url(../../img/shop/h22.png);}
.h3>a>dl>dt{background-image: url(../../img/shop/h33.png);}
.con>ul>.h2>a>dl>dt{background-size: 70%;}
.h4>a>dl>dt{background-image: url(../../img/shop/h44.png);}
.h5>a>dl>dt{background-image: url(../../img/shop/h55.png);}

/* #eventBox */
#eventBox{width: 100%; height: auto;
box-sizing: border-box;
padding-top: 50px; padding-bottom: 50px;}
.event_wrap{ width:90%; max-width: 1400px; height: 350px;
margin: auto;}
.event_wrap>div{position: relative;
  width: 25%; height: 100%;
float: left;}
.event_wrap>div>a{display: block;
  width: 100%; height: 100%;
background-repeat: no-repeat;
background-size: 100%;
background-position: center;}
.e1>a{background-image: url(../../img/shop/event/e1.png);}
.e2>a{background-image: url(../../img/shop/event/e2.png);}
.e3>a{background-image: url(../../img/shop/event/e3.jpg);}
.e4>a{background-image: url(../../img/shop/event/e4.jpg);}
.event_wrap>div>a>span{display: none;
width: 100%; height: 100%;
background-color: rgba(0,0,0,0.5);
font-size: 1.2rem; color: #fff;
font-weight: bold;
text-align: center; line-height: 40.995607vw;}

.event_wrap>div>a:hover span{display: block;}